<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Open twins</title>
  <link rel="icon" href="{{url_for('static', filename='img/lifewatch-eric.a9ad36fd.svg')}}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            lifewatch_blue: '#0f4e8a',
            lifewatch_orange: '#ea5b2d',
            lifewatch_green: '#009138',
            lifewatch_grey: '#666666',
            lifewatch_light_grey: '#f2f2f2',
            lifewatch_light_orange: '#f4992b',
            lifewatch_turquoise: '#009399',
          }
        }
      }
    }
  </script>
</head>

<body>




    <header class="border-b border-slate-200 ">
        <nav class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 my-2 flex items-center justify-between">
          <div class="relative h-36 w-52">

          </div>
            <div class="flex space-y-2 grid grid-rows-2 items-center justify-between">
                <ul>
                  <li class="float-left"><a class="px-3 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_blue" href="{{ url_for('login_page')}}">Home</a></li>
                  <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_orange" href="{{ url_for('services')}}">Services</a></li>
                  
                  {% if hash %}
                      <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                      src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                        <a href="{{ url_for('logout')}}">Logout</a></li>
                  {%else%}
                      <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                    src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                        <a href="{{ url_for('login')}}">Login</a></li>
                  {%endif %}
                </ul>
            </div>
        </nav>
    </header>


    <main class="my-16 space-y-10 mx-auto max-w-[55%] px-4 sm:px-6 md:px-8">
        <section>
          <h1 class="text-6xl leading-snug mb-8">
            <span class="text-lifewatch_turquoise">Open twins</span> 
          </h1>
          <p class="text-lg font-light leading-relaxed tracking-wide w-full">
            Innovative open-source platform that specializes in developing next-gen compositional digital twins
          </p>
        </section>
        <section class="grid auto-rows-fr grid-cols-1  gap-12 md:grid-cols-2 flex ">

          <a href="http://192.168.219.71:30718/a/ertis-opentwins?tab=twins&mode=check&id=pivot:irrigation_simulation" class="flex">
            <div class="transform rounded-md border-2 border-lifewatch_light_grey p-6 transition ease-linear hover:scale-105 flex w-full flex-col space-y-4 border-t-lifewatch_orange">
              <p class="text-left text-lifewatch_orange cursor-pointer text-3xl leading-snug">An open-source framework for the development of compositional digital twins</p>
              <p className="flex-1 text-justify text-lifewatch_grey line-clamp-6">
                OpenTwins has been designed to facilitate the development of digital twins and is characterised by the exclusive use of open-source components. The aim is to achieve a platform that covers all the functionalities that a digital twin may require, from the most basic ones, such as simply checking its real-time state, to more advanced ones, such as including predicted or simulated data.
              </p>
            </div>
        </a>
        </section>
      </main>


      <div class="border-t border-slate-200">
        <footer class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 flex flex-col space-y-4 items-center">
          <div class="flex items-center">
              <div class="flex flex-col w-full items-center justify-center">
                  <div class="w-full flex flex-row items-center justify-center">
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/marcauma.a9b739b5.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/Logounicordoba.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/logoLW_eric_outline2-01.svg')}}" class="w-full h-auto" />
                      </div>  
                      <div class="relative">
                          <img src="{{url_for('static', filename='img/junta.png')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 50%;">
                          <img src="{{url_for('static', filename='img/mci.gob_.web_.jpg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/ue_fedr.png')}}" class="w-full h-auto" />
                      </div>
                  </div>
              </div>
          </div>
      </footer>
    </div>
</body>





</html>