<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Smartfood-GEE - Portal</title>
  <link rel="icon" href="{{url_for('static', filename='img/lifewatch-eric.a9ad36fd.svg')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            lifewatch_blue: '#0f4e8a',
            lifewatch_orange: '#ea5b2d',
            lifewatch_green: '#009138',
            lifewatch_grey: '#666666',
            lifewatch_light_grey: '#f2f2f2',
            lifewatch_light_orange: '#f4992b',
            lifewatch_turquoise: '#009399',
          }
        }
      }
    }
  </script>
</head>

<body>
    <header class="border-b border-slate-200 ">
        <nav class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 my-2 flex items-center justify-between">
          <div class="relative h-36 w-52"></div>
            <div class="ml-2 flex space-x-2 md:space-x-6">
                <ul>
                    <li class="float-left"><a class="px-3 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_blue" href="{{ url_for('login_page')}}">Home</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_orange" href="{{ url_for('services')}}">Services</a></li>
                    
                    {% if session %}
                        <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                        src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                          <a href="{{ url_for('logout')}}">Logout</a></li>
                    {%else%}
                        <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                      src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                          <a href="{{ url_for('login')}}">Login</a></li>
                    {%endif %}
                </ul>
            </div>
        </nav>
    </header>
 

    <main class="my-16 space-y-10 mx-auto max-w-[55%] px-4 sm:px-6 md:px-8">
        <section>
          <h1 class="text-6xl leading-snug">
            <span class="text-lifewatch_blue">Smartfood-GEE</span> portal
          </h1>
          <p class="text-lg font-light leading-relaxed tracking-wide lg:w-4/5">
            Welcome to 
            <strong class="text-lifewatch_blue">SmartFood-GEE</strong>! The SmartFood project 
            provides robust services for the identification of the factors involved in the impact 
            on biodiversity and ecosystems, agriculture, livestock production and fisheries.
          </p>


        </section>
        <section>
            <a class="flex" href="{{ url_for('services')}}">
                <div class="transform rounded-md border-2 border-lifewatch_light_grey w-2/3 p-6 transition ease-linear hover:scale-105 flex flex-col space-y-4 border-t-lifewatch_orange">
                        <img class="h-8 w-8 fill-lifewatch_orange" src="{{url_for('static', filename='img/icons8-amazon-s3-50.png')}}" >
                        <p class="flex-1 text-justify text-lifewatch_grey">
                          The SmartFood Virtual Research Environment services include Open Data repositories
                          and tools to capture scientific data and data analytics solutions. The data analytics 
                          solutions can combine public data with private data that will be kept protected in 
                          your own user profile.
                        </p>
                        <p class="text-right text-lifewatch_orange mt-2">Available Services</p>
                        
                    
                </div>
            </a>
        </section>
      </main>





      <div class="border-t border-slate-200">
        <footer class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 flex flex-col space-y-4 items-center">
          <div class="flex items-center">
              <div class="flex flex-col w-full items-center justify-center">
                  <div class="w-full flex flex-row items-center justify-center">
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/marcauma.a9b739b5.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/Logounicordoba.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/logoLW_eric_outline2-01.svg')}}" class="w-full h-auto" />
                      </div>  
                      <div class="relative">
                          <img src="{{url_for('static', filename='img/junta.png')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 50%;">
                          <img src="{{url_for('static', filename='img/mci.gob_.web_.jpg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/ue_fedr.png')}}" class="w-full h-auto" />
                      </div>
                  </div>
              </div>
          </div>
      </footer>
    </div>
</body>

</html>