<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Status Page</title>
        <link rel="icon" href="{{url_for('static', filename='img/lifewatch-eric.a9ad36fd.svg')}}">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
          tailwind.config = {
            theme: {
              extend: {
                colors: {
                  lifewatch_blue: '#0f4e8a',
                  lifewatch_orange: '#ea5b2d',
                  lifewatch_green: '#009138',
                  lifewatch_grey: '#666666',
                  lifewatch_light_grey: '#f2f2f2',
                  lifewatch_light_orange: '#f4992b',
                  lifewatch_turquoise: '#009399',
                }
              }
            }
          }
        </script>
        <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #dcf3ed;
            border-radius: 5px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #afc0be;
            border-radius: 5px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #4ca587;
        }
    </style>
</head>

<body>


{% block content %}

    
    <header class="border-b border-slate-200 ">
        <nav class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 my-2 flex items-center justify-between">
           <div class="relative h-36 w-52">

            </div>
            <div class="flex space-y-2 grid grid-rows-2 items-center justify-between">
                <ul>
                    <li class="float-left"><a class="px-3 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_blue" href="{{ url_for('login_page')}}">Home</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_orange" href="{{ url_for('services')}}">Services</a></li>
                    
                    {% if hash %}
                        <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                        src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                          <a href="{{ url_for('logout')}}">Logout</a></li>
                    {%else%}
                        <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                      src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                          <a href="{{ url_for('login')}}">Login</a></li>
                    {%endif %}
                </ul>
                <a class= "border-b border-slate-200"></a>
                <ul>
                    <li class="float-left"><a class="px-3 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_blue" href="/smartfood-GEE/VRE1/home_VRE">VRE1</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_orange" href="{{ url_for('upload_page') }}">Upload shapefile</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_green" href="{{ url_for('get_status')}}">Data management</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_turquoise" href="{{ url_for('apps')}}">Applications</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="mx-auto my-4 max-w-[55%] px-4 sm:px-6 md:px-8 flex justify-center items-center">
    <div class=" grid auto-rows-fr grid-cols-1 md:grid-cols-1 gap-12 ">
      <div class="flex transform rounded-md overflow-auto border-2 h-[30vh] w-[90vw] sm:w-[90vw] md:w-[90vw] lg:w-[45vw] border-lifewatch_light_grey p-6 flex flex-col space-y-4 border-t-lifewatch_orange"> 
        <h1 class="text-3xl sm:text-3xl md:text-6xl leading-snug text-lifewatch_orange text-center"> Status of uploaded files</h1>
        <table>
        <tr class="scrollbar-thumb-blue-600 scrollbar-thumb-rounded">
          <td class="text-2xl text-lifewatch_grey"><strong> File</strong></td>
          <td class="text-2xl text-lifewatch_grey"><strong> Status </strong></td>
          <td class="text-2xl text-lifewatch_grey"><strong> Task_id </strong></td>
        </tr>
        {% for username in json_file %}
          {% if username == hash%}
            {% for task in json_file[hash] %}
              <tr class="scrollbar-thumb-blue-600 scrollbar-thumb-rounded">
                <td class="text-lg font-light leading-relaxed tracking-wide ">{{task.file_name}}</td>
                <td class="text-lg font-light leading-relaxed tracking-wide">{{task.state}}</td>
                <td class="text-lg font-light leading-relaxed tracking-wide">{{task.task_id}}</td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
        </table>

        </div>

        <div class="flex transform rounded-md overflow-auto border-2 h-[30vh] w-[90vw] sm:w-[90vw] md:w-[90vw] lg:w-[45vw] border-lifewatch_light_grey p-6  flex flex-col space-y-4 border-t-lifewatch_blue"> 
          <h1 class="text-3xl sm:text-3xl md:text-6xl leading-snug text-lifewatch_blue text-center"> Files uploaded to GEE</h1>
          </p> 
        <table>
        <tr>
          <td class="text-2xl text-lifewatch_grey"><strong> File </strong></td>
          <td class="text-2xl text-lifewatch_grey"><strong> </strong></td>
        </tr>
        {% for username in files_per_user %}
          {% if username == hash%}
            {% for file in files_per_user[hash] %}
              <tr>
                <td class="text-lg font-light leading-relaxed tracking-wide lg:w-4/5">{{file}}</td>
                <td><a class="cursor-pointer py-px px-5 text-lifewatch_light_grey bg-red-600 rounded-xl text-lg font-light leading-relaxed tracking-wide lg:w-4/5" href= "{{ url_for('delete_file', file = file)}}">Delete</a></td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
        </table>

      </div>
    </div>
    </div>

<div class="my-16 space-y-10 mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 flex justify-center items-center">
      <a class= "cursor-pointer py-2.5 px-5 text-lifewatch_light_grey bg-lifewatch_green rounded-xl" href= "{{ url_for('get_status')}}" >Reload status</a>
</div>


<div class="border-t border-slate-200">
        <footer class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 flex flex-col space-y-4 items-center">
          <div class="flex items-center">
              <div class="flex flex-col w-full items-center justify-center">
                  <div class="w-full flex flex-row items-center justify-center">
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/marcauma.a9b739b5.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/Logounicordoba.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/logoLW_eric_outline2-01.svg')}}" class="w-full h-auto" />
                      </div>  
                      <div class="relative">
                          <img src="{{url_for('static', filename='img/junta.png')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 50%;">
                          <img src="{{url_for('static', filename='img/mci.gob_.web_.jpg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/ue_fedr.png')}}" class="w-full h-auto" />
                      </div>
                  </div>
              </div>
          </div>
      </footer>
    </div>

{% endblock %}



</body>

</html >