<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Upload Page</title>
  <link rel="icon" sizes="32x32" href="{{url_for('static', filename='img/lifewatch-eric.a9ad36fd.svg')}}">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            lifewatch_blue: '#0f4e8a',
            lifewatch_orange: '#ea5b2d',
            lifewatch_green: '#009138',
            lifewatch_grey: '#666666',
            lifewatch_light_grey: '#f2f2f2',
            lifewatch_light_orange: '#f4992b',
            lifewatch_turquoise: '#009399',
          }
        }
      }
    }
  </script>
</head>

<body>


{% block content %}

    
    <header class="border-b border-slate-200 ">
        <nav class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 my-2 flex items-center justify-between">
           <div class="relative h-36 w-52">

            </div>
            <div class="flex space-y-2 grid grid-rows-2 items-center justify-between">
                <ul>
                    <li class="float-left"><a class="px-3 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_blue" href="{{ url_for('login_page')}}">Home</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_orange" href="{{ url_for('services')}}">Services</a></li>
                    
                    {% if hash %}
                        <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                        src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                          <a href="{{ url_for('logout')}}">Logout</a></li>
                    {%else%}
                        <li class="group px-3 mx-0.5 flex items-center space-x-2 hover:cursor-pointer"> <img class="h-5 w-5 transform transition-transform ease-linear group-hover:translate-x-0.5" 
                      src="{{url_for('static', filename='img/in_door_communication_enter_log_in_login_icon_191647.svg')}}" >
                          <a href="{{ url_for('login')}}">Login</a></li>
                    {%endif %}
                </ul>
                <a class= "border-b border-slate-200"></a>
                <ul>
                    <li class="float-left"><a class="px-3 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_blue" href="/smartfood-GEE/VRE1/home_VRE">VRE1</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_orange" href="{{ url_for('upload_page') }}">Upload shapefile</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_green" href="{{ url_for('get_status')}}">Data management</a></li>
                    <li class="float-left"><a class="px-3 mx-0.5 underline block decoration-transparent decoration-2 underline-offset-4 transition-colors duration-100 ease-linear hover:decoration-lifewatch_turquoise" href="{{ url_for('apps')}}">Apps</a></li>
                </ul>
            </div>
        </nav>
    </header>


    

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class= "my-16 space-y-10 mx-auto max-w-2xl px-4 sm:px-6 md:px-8 flex justify-center items-center">
      {% for message in messages %}
          <div class="alert transform rounded-md border-2 text-center border-red-500 bg-red-100 p-6 rounded-xl border-2 
          transition text-lifewatch_grey ease-linear hover:scale-105 flex space-y-4">
            {{ message }}
            <button type="button" id ="btndismiss" class="close border-red-500 rounded-xl w-8 px-2 ml-2 border-2 bg-red-300" data-dismiss="alert">&times; 
            </button>
          </div>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

<div class="my-16 space-y-10 mx-auto max-w-2xl px-4 sm:px-6 md:px-8 flex justify-center items-center">
    <div id="error-message" class="hidden alert transform rounded-md border-2 text-center border-red-500 bg-red-100 p-6 rounded-xl border-2 transition text-lifewatch_grey ease-linear hover:scale-105 flex space-y-4 items-center">
        <span id="error-text" class="flex-grow"></span>
        <button type="button" id="btndismiss" class="close border-red-500 rounded-xl w-8 px-2 ml-2 border-2 bg-red-300" onclick="dismissError()">&times;</button>
    </div>
</div>




    <div class="my-16 space-y-10 mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 flex justify-center items-center">
          <form method="POST" enctype="multipart/form-data">
              <input class="w-[400px] max-w-full  p-1.5 rounded-xl border-2 -zinc-400 bg-slate-200 border-lifewatch_blue text-sm text-slate-500
                    file:mr-4 file:py-2 file:px-4 file:bg-blue-400
                    file:rounded-full file:border-0
                    file:text-sm file:font-semibold
                    file:bg-lifewatch_blue file:text-lifewatch_light_grey file:cursor-pointer" 

              type="file" id="zipfile" name="zipfile" accept=".zip" required>
              <button id="submit" class="cursor-pointer py-2.5 px-5 text-lifewatch_light_grey bg-lifewatch_blue rounded-xl" type="submit">Send</button>
          </form>
        </div>


            <div class="border-t border-slate-200">
        <footer class="mx-auto max-w-[55%] px-4 sm:px-6 md:px-8 flex flex-col space-y-4 items-center">
          <div class="flex items-center">
              <div class="flex flex-col w-full items-center justify-center">
                  <div class="w-full flex flex-row items-center justify-center">
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/marcauma.a9b739b5.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/Logounicordoba.svg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 30%;">
                          <img src="{{url_for('static', filename='img/logoLW_eric_outline2-01.svg')}}" class="w-full h-auto" />
                      </div>  
                      <div class="relative">
                          <img src="{{url_for('static', filename='img/junta.png')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 50%;">
                          <img src="{{url_for('static', filename='img/mci.gob_.web_.jpg')}}" class="w-full h-auto" />
                      </div>
                      <div class="relative" style="width: 20%;">
                          <img src="{{url_for('static', filename='img/ue_fedr.png')}}" class="w-full h-auto" />
                      </div>
                  </div>
              </div>
          </div>
      </footer>
    </div>

{% endblock %}

</body>



<script>
  var uploadField = document.getElementById("zipfile");

  function showError(message) {
      var errorMessageElement = document.getElementById("error-message");
      var errorTextElement = document.getElementById("error-text");

      errorTextElement.innerText = message;
      errorMessageElement.classList.remove("hidden");
  }

  function dismissError() {
      var errorMessageElement = document.getElementById("error-message");
      errorMessageElement.classList.add("hidden");
      // Limpiar el campo del archivo
      uploadField.value = "";
  }

  uploadField.onchange = function() {
      if (this.files[0].size > {{ size_file }}) {
          showError("File is too big!");
          this.value = "";
      }
  };
</script>




</html>